.button {
	background: var(--green);
	border: 2px solid var(--black);
	border-radius: 90px;
	box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
	color: var(--black);
	font: var(--button);
	letter-spacing: 1.25px;
	padding-block-end: 13px;
	padding-block-start: 13px;
	padding-inline-end: 24px;
	padding-inline-start: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	-ms-border-radius: 90px;
	-o-border-radius: 90px;
}

.header-content > .button span {
	display: none;
}

.button.is-secondary {
	background: unset;
	color: var(--black);
}

.button-container {
	display: flex;
	flex-direction: column-reverse;
	gap: 16px;
}

.button-container .button i {
	font-size: 20px;
	vertical-align: middle;
}

.button-icon {
	background: var(--green);
	border: 2px solid var(--black);
	border-radius: 4px;
	display: inline-block;
	padding-block-end: 10px;
	padding-block-start: 10px;
	padding-inline-end: 10px;
	padding-inline-start: 10px;
	text-decoration: none;
}

.button-icon i {
	font-size: 24px;
	color: var(--black);
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.header-content > .button span {
		display: inline;
	}

	.button-container {
		flex-direction: row;
	}
}
