.menu {
	display: none;
}

.menu ul {
	display: flex;
	gap: 40px;
	list-style: none;
}

.menu ul a {
	color: var(--black);
	opacity: 0.5;
	font: var(--button);
	text-decoration: none;
	text-transform: uppercase;
}

.menu ul a.is-active {
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.menu {
		display: block;
	}
}
