.project {
	font: var(--body1);
}

.project-description {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-block-end: 40px;
	padding-block-start: 40px;
}

.project-image {
	text-align: center;
}

.project-image img {
	block-size: 100%;
	inline-size: auto;
	max-inline-size: 100%;
	max-block-size: 536px;
}

@media screen and (min-width: 768px) {
	.project {
		align-items: center;
		display: flex;
		gap: 29px;
		padding-block-end: 80px;
		padding-block-start: 80px;
	}
	.project-image,
	.project-description {
		flex: 1;
	}

	.project-container:nth-child(4n + 1) .project {
		flex-direction: row-reverse;
	}
}
